/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
  --bs-blue: #158cba;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #ff4136;
  --bs-orange: #fd7e14;
  --bs-yellow: #ff851b;
  --bs-green: #28b62c;
  --bs-teal: #20c997;
  --bs-cyan: #75caeb;
  --bs-white: #fff;
  --bs-gray: #999;
  --bs-gray-dark: #333;
  --bs-gray-100: #f6f6f6;
  --bs-gray-200: #f0f0f0;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #999;
  --bs-gray-700: #555;
  --bs-gray-800: #333;
  --bs-gray-900: #222;
  --bs-primary: #158cba;
  --bs-secondary: #f0f0f0;
  --bs-success: #28b62c;
  --bs-info: #75caeb;
  --bs-warning: #ff851b;
  --bs-danger: #ff4136;
  --bs-light: #f6f6f6;
  --bs-dark: #555;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--bs-gray-600);
}

/* font */
.font__lg {
  font-size: 1.6rem;
}

.font__xl {
  font-size: 2rem;
}

.font__base {
  font-size: 1rem;
}

.font__sm {
  font-size: 0.8rem;
}

.font__bold {
  font-weight: bold;
}

/* padding */
.pd_1_rem {
  padding: 1rem;
}

.pd_08_rem {
  padding: 0.8rem;
}

.post {
  width: 200px;
}

/* margin */
.mgTop_1_rem {
  margin-top: 1rem;
}

.mgTop_2_rem {
  margin-top: 1rem;
}

.mgLeft_1_rem {
  margin-left: 1rem;
}

.mgLeft_2_rem {
  margin-left: 2rem;
}

/* tags */
section {
  width: 100%;
  height: 100%;
}

/* img tag */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* layout */
.noSecondLine {
  white-space: nowrap; /* no Second line about react*/
  text-overflow: ellipsis; /* if react show ... */
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex--v {
  flex-direction: column;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.flex--v__between {
  justify-content: space-between;
}

.border_1_left {
  border-left: 5px solid;
  border-left-color: #158cba;
}

.border_1_right {
  border-left: solid;
  border-left-color: #158cba;
}

.border_1_top {
  border-left: solid;
  border-left-color: #158cba;
}

.border_1_bottom {
  border-left: solid;
  border-left-color: #158cba;
}

.bgColor_sky {
  border-left: solid;
  border-left-color: #158cba;
}

.rank {
  width: 5rem;
}

.title {
  width: 5rem;
}

.post {
  width: 5rem;
}

.link {
  width: 5rem;
}
